<!DOCTYPE html>
<html>
  <head>
    <title>SHEWbnb</title>
  </head>

  <body>
    <form action='/'>
      <input type='submit' value='Back'>
    </form>
    
    <h1>Please login</h1>

    <form action="/sessions" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" required>
      <label for="password">Password: </label>
      <input type="password" name="password" required>
      <input type="submit" name="Login" value ="Login">
    </form>

    </form>
  </body>
</html>
