<!DOCTYPE html>
<html>
  <head>
    <title>FISH BNB</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center">
          <h1 id="sign_up">Please login</h1>
          <form class="form-horizontal" action="/sessions" method="post">
            <div class="form-group text-center">
              <label for="username" class="control-label">Username: </label>
                <input type="text" class="form-control"name="username" required>
            <label for="password" class="control-label">Password: </label>
              <input type="password" class="form-control"name="password" required>
          </div>
        <input type="submit" name="login" value="Login">
      </form>
    </div>
    </div>
    </div>
    </div>
    </body>
    </html>


  </body>
</html>
