<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    Your request for <%=@place.name%>  has been sent to host: <%=@place.username%>

    <form action='/places'>
    <input type='submit' value='Back'>
  </form>
  </body>
</html>
