<!DOCTYPE html>
<html>
  <head>
<title>FISH BNB></title>
  </head>
  <div class="container" class='text-center'>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
  <body id="sent_request">
    Your request for <%=@place.name%>  has been sent to host: <%=@place.username%>
</div>
</div>
</div>

  </body>
</html>
