<!DOCTYPE html>
<html>
  <head>
    <title>FISH BNB</title>
  </head>
  <body>
    <div class="container" class='text-center'>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
    <% unless @sent.empty? %>
    <ul id='sent'>
       <% @sent.each do |sent| %>
       <li>
         You have requested <%= sent.place.name %>
         <% if sent.approved %>
          Status: approved
          <% elsif sent.declined %>
          Status: declined
          <% else %>
          Status: pending
          <% end %>
      </li>
       <% end %>
    </ul>
    <% end %>
  </div>
</div>
</div>

  </body>
</html>
