<!DOCTYPE html>
<html>
  <head>
    <title>FISH BNB</title>
  </head>
  <body>
    <% unless @sent.empty? %>
    <ul id='sent'>
       <% @sent.each do |sent| %>
       <li>
         You have requested <%= sent.place.name %>
      </li>
       <% end %>
    </ul>
    <% end %>

  </body>
</html>
