<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SHEW bnb</title>
  </head>
  <body>
    <% unless current_user %>
      <form action='/users/new'>
        <input type='submit' value='Sign up'>
      </form>
      <form action='/sessions/new'>
        <input type='submit' value='Login'>
      </form>
      <% end %>

    Welcome.

  </body>
</html>
