<body id="homepage">

		<% unless current_user %>
		<ol class="breadcrumb">
  <li><a id="nav_buttons" href="/users/new">Sign up</a></li>
  <li><a id="nav_buttons" href="/sessions/new">Log in</a></li>
</ol>
<% end %>

<div id="title">
	<h1 id="heading">FISH BNB</h1>
	<div id="line"></div>
	<p id="tagline">The world is your oyster</p>
</div>
  </body>
