<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shew bnb</title>
  </head>
  <body>
    <% if current_user %>
      Signed in as <%= current_user.username %>
    <%end%>
  </body>
</html>
