<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shew bnb</title>
  </head>
  <body>
    <% if current_user %>
      Signed in as <%= current_user.username %>
      <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="logout" value="Logout">
      </form>
    <%end%>
  </body>
</html>
