<body class="homepage">

	<video autoplay loop poster="Still.jpg" id="bgvid">
		<source src="Water Motion Graphic.mp4" type="video/mp4">
	</video>

		<% unless current_user %>
	<ul class="breadcrumb">
	  <li><a class="nav_buttons" href="/users/new">Sign up</a></li>
	  <li><a class="nav_buttons" href="/sessions/new">Log in</a></li>
</ul>
<% end %>

<div id="title">
	<h1 id="heading">FISH BNB</h1>
	<div id="line"></div>
	<p id="tagline">The world is your lobster</p>
</div>
  </body>
