<html>
<head>
  <title>SHEWbnb</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
  <div class="navbar-text navbar-right">
  <% if current_user %>
              <form method='post' action='/sessions'>
                Signed in as <%= current_user.username %>
                <input  type='hidden' name='_method' value='delete'>
                <input type='submit' value='Logout'>
              </form>
    <% end %>
  </div>
    <% if flash[:errors] && !flash[:errors].empty? %>
       Please refer to the following:
       <ul id='errors'>
         <% flash[:errors].each do |error| %>
         <li><%= error %></li>
       <% end %>
     </ul>
    <% end %>
</body>
<%= yield %>
</html>
