<h1> Book a place </h1>

 <% unless @places.empty? %>
<ul id='places'>
  <li>
    <% @places.each do |place| %>
      Name: <%= place.name %> Description: <%= place.description %> Price: <%= place.price %>
      <form action="/places/bookings" method="post">
        <input type="hidden" name="id" value="<%= place.id %>">
        <button type="submit" name="Book" >Book Place now</button>
      </form>
    <% end %>
  </li>
</ul>
<% else %>
No spaces here!
<% end %>
<form action="/places/new">
  <button type="submit" name="Add new place">Add new place</button>
</form>
