<h1> Add your place's details </h1>

<form action='/places' method='post'>
  <label for='name'>
    Name:
    <input type='text' name='name' required />
  </label>
  <label for='description'>
    Description:
    <input type='text' name='description' required/>
  </label>
  <label for='price'>
    Price in £:
    <input type='text' name='price' required/>
  </label>
  <label for='availability'>
    Availability:
    <input type='date' name='availability' required/>
  </label>
  <input type='submit' value='Add Place'>

</form>
