<h1> Add your place's details </h1>

<form action='/places' method='post'>
  <label for='name'>
    Name:
    <input type='text' name='name'/>
  </label>
  <label for='description'>
    Description:
    <input type='text' name='description'/>
  </label>
  <label for='price'>
    Price in £:
    <input type='text' name='price'/>
  </label>
  <input type='submit' value='Add Place'>

</form>
